<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CrossBrowserTest" parallel="false">
    <test name="ChromeTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.AmazonLoginpageTest"/>
            <class name="tests.AmazonSearchTest"/>
            <class name="tests.AmazonCartTest"/>
        </classes>
    </test>
    <test name="FirefoxTest">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.AmazonLoginpageTest"/>
            <class name="tests.AmazonSearchTest"/>
            <class name="tests.AmazonCartTest"/>
        </classes>
    </test>
    <test name="EdgeTest">
         <parameter name="browser" value="edge"/>
         <classes>
             <class name="tests.AmazonLoginpageTest"/>
             <class name="tests.AmazonSearchTest"/>
             <class name="tests.AmazonCartTest"/>
         </classes>
     </test>
</suite>